<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
          MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
            },
            TeX: {
              Macros: {
                abs: ["{\\lvert #1 \\rvert}",1],
                cyc: ["{\\langle #1 \\rangle}",1],
                ev: ["{\\langle #1 \\rangle}",1],
                Int: ["\\text{Int}(#1)",1],
                Ext: ["\\text{Ext}(#1)",1],
                Gal: ["\\text{Gal}(#1)",1],
                sgn: ["\\text{sgn}",0],
                Hom: ["\\text{Hom}",0],
                Id: ["\\text{Id}",0],
                cl: ["\\text{cl}",0],
                End: ["\\text{End}",0],
                Bd: ["\\text{Bd}(#1)",1],
                Tor: ["\\text{Tor}(#1)",1],
                ker: ["{\\text{ker}(#1)}",1],
                im: ["{\\text{im}(#1)}",1],
                span: ["{\\text{span}}",0],
                lcm: ["{\\text{lcm}}",0],
                LT: ["{\\text{LT}}",0],
                LC: ["{\\text{LC}}",0],
                LM: ["{\\text{LM}}",0],
                multideg: ["{\\text{multideg}}",0],
                norm: ["{\\left\\lVert #1 \\right\\rVert}",1]
              }
            }
          });
        </script>
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
